# Ignore all directories
/*/

# Except the 'airflow' directory
!/airflow/

.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts
standalone_admin_password.txt
airflow-webserver.pid